<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Eat Da Burger!</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Bellota|Comic+Neue&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css">
	<script src="https://code.jquery.com/jquery-3.5.1.js"
		integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
	<script defer src="/assets/js/index.js"></script>
</head>

<body>
	<header class="jumbotron">
		<h1 class="display-4">Welcome To Burgertopia</h1>
		<img class="burger-svg" src="/assets/hamburger-burger-svgrepo-com.svg" alt="A Big Burger">
	</header>
	<main class="container wrapper">
		{{{ body }}}
	</main>
</body>


</html>