<div class="row">
	<div class="col">
		<form>
			<div class="form-group">
				<label for="name">Order up!</label>
				<input type="text" class="form-control" placeholder="What kind of burger would you like?">
				<small class="error-msg" style="color: red;"></small>
			</div>
			<button class="btn btn-primary submit-btn">Submit</button>
		</form>
	</div>
</div>
</div>