:root {
    --bun: #ffe2aa;
    --lettuce: #bbffa6;
    --meat: #450101;
    --tomato:#ec3521;
    font-size: 20px
}
html {
    width: 100%;
}
body {
    background: var(--bun);
    font-family: 'Comic Neue', cursive;
}

.wrapper {
    background: transparent;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem 0.1rem #0000005c;
    padding: 1rem;
}

.jumbotron {
    box-shadow: 0 0 0.5rem 0.1rem var(--lettuce);
    text-align: center;
    background-color: var(--lettuce);
    padding: 1rem;
    font-family: 'Bellota', cursive;
    color: var(--meat)
}

header {
    text-align: center;
    margin-bottom: 1rem;
}

form {
    padding: 1rem;
    background: #ffffffb5;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.card {
    box-shadow: 0 0.1rem 0.5rem 0.1rem #00000036;
    background: var(--lettuce);
    transition: 300ms;
}
.card:hover {
    transform: scale(1.05)
}
.card-header {
    box-shadow: inset 0 -0.3rem 1rem 0.1rem #7bcd70;
}
form {
    transition: 300ms;
}
form:hover {
    transition: 300ms;
    transform: scale(1.01);
}

.burger-svg {
    text-align: center;
    width: 3rem;
}

.burger-list-item {
    color: black;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


footer {
    background-color: var(--dark);
    width: 100%;
    margin-top: 5rem;
    font-family: 'Bellota', cursive;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    position: fixed;
    bottom: 0;
}
footer a {
    color: white;
}
footer a:hover {
    color: lightblue;
}

@media screen and (max-width: 997px) {
    :root {
        font-size: 16px;
    }
    .display-4 {
        font-size: 2rem
    }
    .col-lg-6:first-of-type {
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 1600px) {
    footer {
        position: unset;
    }
}